### Database ###

# PDO Driver, for example: mysql, pgsql, sqlite, etc
# Default: mysql
DB_DRIVER=""

# Database host
# Default: 127.0.0.1
DB_HOST=""

# Database port
# Default: 3306
DB_PORT=""

# Database name
DB_NAME=""

# Database username
DB_USERNAME=""

# Database password
DB_PASSWORD=""

### Session ###

# Initial Balance
# Default: 5000
BALANCE=""
