### Database ###

# PDO Driver, for example: mysql, pgsql or sqlite
# Default: mysql
DB_DRIVER=""

# Database path - Only for sqlite driver
# The folder that stores the database file must be writable
# The web server user must have permission, for example: www-data
DB_PATH=""

# Database host
# Default: 127.0.0.1
DB_HOST=""

# Database port
# Default: 3306
DB_PORT=""

# Database name
DB_NAME=""

# Database username
DB_USERNAME=""

# Database password
DB_PASSWORD=""

### Session ###

# Initial Balance
# Default: 5000
BALANCE=""
