<div class="container is-fluid">
    <div class="columns is-multiline">
        <?php foreach ($parameters["products"] as $value) { ?>
        <div class="column is-one-third">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title is-centered">
                    <?= $value->name ?>
                    </p>
                </header>
                <div class="card-image">
                    <figure class="image">
                        <a href="/products/<?= $value->code ?>">
                            <img src="<?= $value->image ?>" alt="Guitar image">
                        </a>
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <strong>Price: </strong>$<?= $value->price ?>
                        <br>
                        <strong>Description: </strong><?= $value->description ?>
                    </div>
                </div>
                <footer class="card-footer">
                    <div class="card-footer-item">
                        <form action="/shoppingcart" method="POST">
                            <div class="field has-addons">
                                <div class="control">
                                    <input class="input" type="number" id="items" name="items" placeholder="Quantity" min="1" max="999999">
                                </div>
                                <div class="control">
                                    <input type="hidden" name="code" value="<?= $value->code ?>">
                                </div>
                                <div class="control">
                                    <button class="button is-link" type="submit">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </footer>
            </div>
        </div>
        <?php } ?>
    </div>
</div>
