<div id="modal-checkout" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Checkout</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <h1>Are you sure?</h1>
        </section>
        <footer class="modal-card-foot">
	    <div class="buttons">
                <form action="/purchases" method="POST">
                    <div class="field">
                        <div class="control">
                            <button class="button modal-button is-link" type="submit">Accept</button>
                        </div>
                    </div>
                </form>
                <button class="button">Cancel</button>
            </div>
        </footer>
    </div>
</div>
