<div class="container">
    <table class="table is-fullwidth has-text-centered">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Product Name</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Items</th>
                <th scope="col">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($parameters["purchase"] as $value) { ?>
            <tr>
                <td><?= $value->code ?></td>
                <td>
                    <a href="/products/<?= $value->code ?>">
                        <?= $value->name ?>
                    </a>
                </td>
                <td>$<?= $value->price ?></td>
                <td><?= $value->items ?></td>
                <td>$<?= $value->subtotal ?></td>
            </tr>
            <?php } ?>
        </tbody>
        <tfoot>
            <tr>
                <td class="has-text-center" colspan="5">
                    <a class="button is-link" href="/purchases">Back to Purchases</a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
