<div class="container is-fluid">
    <table class="table is-fullwidth has-text-centered">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($parameters["cart"] as $value) { ?>
            <tr>
                <td>
                    <a href="/products/<?= $value->code ?>">
                        <?= $value->name ?>
                    </a>
                </td>
                <td><?= $value->price ?> $</td>
                <td><?= $value->quantity ?></td>
                <td><?= $value->total ?> $</td>
                <td>
                    <div class="buttons is-centered">
                        <form action="/shoppingcart" method="POST">
                            <div class="field">
                                <div class="control">
                                    <input type="hidden" name="code" value="<?= $value->code ?>">
                                </div>
                                <div class="control">
                                    <input type="hidden" name="shoppingcart" value="true">
                                </div>
                                <div class="control">
                                    <button class="button" type="submit">
                                        <span class="icon is-small">
                                            <i class="fa-solid fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <form action="/shoppingcart/remove" method="POST">
                            <div class="field">
                                <div class="control">
                                    <input type="hidden" name="code" value="<?= $value->code ?>">
                                </div>
                                <div class="control">
                                    <input type="hidden" name="shoppingcart" value="true">
                                </div>
                                <div class="control">
                                    <button class="button" type="submit">
                                        <span class="icon is-small">
                                            <i class="fa-solid fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <form id="<?= $value->code ?>" action="/shoppingcart/remove" method="POST">
                            <div class="field">
                                <div class="control">
                                    <input type="hidden" name="code" value="<?= $value->code ?>">
                                </div>
                                <div class="control">
                                    <button class="button form-button" data-target="modal-remove" data-form="<?= $value->code ?>">
                                        <span class="icon is-small">
                                            <i class="fa-solid fa-trash-alt"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            <?php } ?>
        </tbody>
        <tfoot>
            <tr>
                <td class="has-text-right" colspan="2">Total:</td>
                <td><?= $_SESSION["quantity"] ?></td>
                <td><?= $_SESSION["total"] ?> $</td>
                <td>
                    <button class="button modal-button is-danger" data-target="modal-clear">Clear</button>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="container is-fluid">
        <h2 class="title has-text-centered">Shipping Option</h2>
        <div class="container has-text-centered">
        <form id="pay" method="post" action="/purchases">
            <div class="field is-grouped is-grouped-centered">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="shipping" value="option1" required>
                        Pick Up (USD 0)
                    </label>
                    <label class="radio">
                        <input type="radio" name="shipping" value="option2" required>
                        UPS (USD 5)
                    </label>
                </div>
                <div class="control">
                    <button class="button form-button is-success" data-target="modal-pay" data-form="pay">Pay</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
